name: Manual Release

on:
  workflow_call:
    inputs:
      ENABLE_LINTING:
        description: Run golangci-lint
        default: true
        required: false
        type: boolean

      ENABLE_UNIT_TESTS:
        description: Run golang tests
        default: true
        required: false
        type: boolean

      RELEASE_BRANCH:
        description: Release branch to push changes
        required: false
        type: string
        default: main

      CATALOG_DIR_PATH:
        description: "The catalog directory path"
        required: false
        default: catalog
        type: string

      OPM_VERSION:
        description: OPM CLI version to use
        default: v1.50.0
        required: false
        type: string
      
      OPERATOR_SDK_VERSION:
        description: Operator SDK version to use
        default: v1.41.0
        required: false
        type: string

      GO_LANG_VERSION:
        description: Go lang version to use
        default: 1.25.0
        required: false
        type: string

      ENABLE_STAKATER_AB_GIT_AUTH:
        description: "Configure git to use stakater-ab private repos"
        required: false
        default: false
        type: boolean 

      ENABLE_CHART_PUSH:
        description: "Enable pushing helm charts to chart repo"
        required: false
        default: false
        type: boolean              
            
      GIT_USER:
        description: "Git user to push changes"
        required: false
        default: stakater-github-root
        type: string

    secrets:
      SLACK_WEBHOOK_URL:
        description: "Secret to send success/failure message to slack"
        required: true

      CONTAINER_REGISTRY_URL:
        description: "Registry URL to publish image"
        required: true

      CONTAINER_REGISTRY_USERNAME:
        description: "Registry username to login"
        required: true

      CONTAINER_REGISTRY_PASSWORD:
        description: "Registry password to login"
        required: true

      STAKATER_AB_REPOS:
        description: "GitHub token with access to stakater-ab repos"
        required: false  
      

jobs:
  release-operator:
    name: Release Operator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Config private repo
        if: ${{ inputs.ENABLE_STAKATER_AB_GIT_AUTH }}
        run: |
          git config --global url."https://${{ secrets.STAKATER_AB_REPOS }}:x-oauth-basic@github.com/stakater-ab".insteadOf "https://github.com/stakater-ab"

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.GO_LANG_VERSION }}

      - name: Show Go Version
        run: go version

      - name: Verify code
        id: verify
        uses: stakater/.github/.github/actions/operator/verify@main
        with:
          ENABLE_LINTING: ${{ inputs.ENABLE_LINTING }}
          ENABLE_UNIT_TESTS: ${{ inputs.ENABLE_UNIT_TESTS }}

      - name: Setup Version Tag
        id: tag
        uses: stakater/.github/.github/actions/operator/tag@feat/release-workflow
        with:
          RELEASE_BRANCH: ${{ inputs.RELEASE_BRANCH }}
          # AUTO_GENERATED: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker
        id: docker
        uses: stakater/.github/.github/actions/operator/docker@main
        env:
          CONTAINER_REGISTRY_URL: ${{ secrets.CONTAINER_REGISTRY_URL }}
          CONTAINER_REGISTRY_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
          CONTAINER_REGISTRY_PASSWORD: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}

      - name: Build & Push
        uses: stakater/.github/.github/actions/operator/build@feat/release-workflow
        with:
          VERSION: ${{ steps.tag.outputs.TAG }}
          TAG: ${{ steps.tag.outputs.PUSH_TAG }}
          IMAGE_REPOSITORY: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          OPM_VERSION: ${{ inputs.OPM_VERSION }}
          CATALOG_DIR_PATH: ${{ inputs.CATALOG_DIR_PATH }}
          RELEASE_BRANCH: ${{ inputs.RELEASE_BRANCH }}
          PUSH_TO_PUBLIC_REGISTRY: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_TOKEN: ${{ secrets.STAKATER_AB_REPOS }}
          GIT_USER: ${{ inputs.GIT_USER }}

      - name: Get Channel
        id: get_channel
        run: |
          VERSION=${{ steps.tag.outputs.TAG }}
          MAJOR=$(awk -F. '{print $1}' <<< ${VERSION:0})
          MINOR=$(awk -F. '{print $2}' <<< ${VERSION:1})
          CHANNEL=release-${MAJOR}.${MINOR}
          echo "channel=$(echo ${CHANNEL})" >> $GITHUB_OUTPUT
          echo "major_minor_tag=$(echo ${MAJOR}.${MINOR})" >> $GITHUB_OUTPUT

      - name: Publish Helm Chart
        if: ${{ inputs.ENABLE_CHART_PUSH }}
        uses: stakater/.github/.github/actions/operator/chart-push@feat/release-workflow
        with:
          VERSION: ${{ steps.tag.outputs.TAG }}
          TAG: ${{ steps.tag.outputs.PUSH_TAG }}
          HELM_REGISTRY: "oci://ghcr.io/stakater/charts"
        env:
          ADMIN_TOKEN: ${{ secrets.ADMIN_TOKEN }}
          GHCR_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
          GHCR_TOKEN: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}
      
      - name: Publish Helm Chart
        if: ${{ inputs.ENABLE_CHART_PUSH == 'true' }}
        uses: stakater/.github/.github/actions/operator/chart-push@feat/release-workflow
        with:
          VERSION: ${{ steps.tag.outputs.TAG }}
          TAG: ${{ steps.tag.outputs.PUSH_TAG }}
          HELM_REGISTRY: "oci://ghcr.io/stakater/public/charts"
        env:
          ADMIN_TOKEN: ${{ secrets.ADMIN_TOKEN }}
          GHCR_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
          GHCR_TOKEN: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}

    outputs:
      image_repository: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
      version: ${{ steps.tag.outputs.TAG }}
      channel: ${{ steps.get_channel.outputs.channel }}
      major_minor_tag: ${{ steps.get_channel.outputs.major_minor_tag }}
